*{
  box-sizing: border-box;
  text-align: center;
}

.grid-container{
  position: relative;
  display: 'flex';
  flex-direction: 'row' !important;
  flex-wrap: wrap;
}

.card{
  border-radius: 0 !important;
  border: .5px solid slategray !important;
  height: 125px;
  width: 175px;
  background-color: #F2F4FF !important;
  margin: 10px;
}

.donor-form{
  justify-content: center;
}

.card-name{
  font-size: 15px;
  padding-bottom: 5px;
  color: grey;
}

.donation-amount{
  font-size: 30px;
  padding-top: 5px;
  color: black;
}

.bottom-pane{
  background-color: white !important;
  height: 50px;
}


